<div class="navbar z-depth-2">
			<nav>
				<div class="container nav-wrapper">
					<ul th:if="${currentUser != null}" class="right">
						<li><a th:text="${currentUser.username}">Username</a></li>
						<li><form method="post" th:action="@{/logout}"><button type="submit" class="waves-effect waves-light btn">Logout</button></form></li>
					</ul>
					<ul th:if="${currentUser != null}" class="left">
						<li class="active"><a th:href="@{/}">Inicio</a></li>
						<ul id="dropdown1" class="dropdown-content">
  							<li><a th:href="@{/account}">Crear usuario</a></li>
  							<!-- <li><a th:href="@{/admin/delete}">Eliminar usuario</a></li> -->
						</ul>
						<li th:if="${userRole.toString() == 'ADMIN'}"><a class="dropdown-button" href="#!" data-activates="dropdown1">Panel <i class="material-icons right">arrow_drop_down</i></a></li>
					</ul>
				</div>
			</nav>
		</div>	