<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="UTF-8" content="text/html; charset=UTF-8"/>
		<title>Nowe konto</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
		<link th:href="@{/css/materialize.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
		<link th:href="@{/css/styles.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
	</head>
	<body>
		<div class="navbar z-depth-2">
			<nav>
				<div class="container nav-wrapper">
					<ul th:if="${currentUser != null}" class="right">
						<li><a th:text="${currentUser.username}">Username</a></li>
						<li><form method="post" th:action="@{/logout}"><button type="submit" class="waves-effect waves-light btn">Logout</button></form></li>
					</ul>
					<ul th:if="${currentUser != null}" class="left">
						<li class="active"><a th:href="@{/}">Inicio</a></li>
						<ul id="dropdown1" class="dropdown-content">
  							<li><a th:href="@{/account}">Crear usuario</a></li>
  							<!-- <li><a th:href="@{/admin/delete}">Eliminar usuario</a></li> -->
						</ul>
						<li th:if="${userRole.toString() == 'ADMIN'}"><a class="dropdown-button" href="#!" data-activates="dropdown1">Panel <i class="material-icons right">arrow_drop_down</i></a></li>
					</ul>
				</div>
			</nav>
		</div>	
		<div class="container">
			<div class="section">
				<div class="row marg-top-20">
					<div class=".col-xs-12 .col-sm-6 .col-lg-8">
						<div class="row no-marg-bottom">
							<nav>
								<div class="nav-wrapper">
									<a class="brand-logo center">Consulta Formulación de Producto	</a>
								</div>
							</nav>
						</div>
						<div class="row card-panel hoverable no-marg-top">
							<form class="col s12" method="post" th:action="@{/account}" th:object="${accountCreateForm}">
								
									<div class="input-field col s12">
									    <select>
									      <option value="1">Option 1</option>
									      <option value="2">Option 2</option>
									      <option value="3">Option 3</option>
									    </select>
									    <label>Familia</label>
									</div>
								
								
									<div class="input-field col s12">
										<div class="input-field col s12">
											<select >
											  <option>Clase 1</option>
											  <option>Clase 2</option>
											  <option>Clase 3</option>
											</select>
											<label>Clase</label>
										</div>
										<span class="error-block" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Register error</span>
									</div>
								
								
									<div class="input-field col s12">
										<input th:field="*{passwordRepeated}" id="passwordRepeated" type="password" name="passwordRepeated" required="required" placeholder="Nombre"></input>
										<span class="error-block" th:if="${#fields.hasErrors('passwordRepeated')}" th:errors="*{passwordRepeated}">Register error</span>
									</div>
								
								<div class="row center">
									<button type="submit" class="waves-effect waves-light btn">Buscar</button>
								</div>
							</form>
							
						</div>
						<div class="row card-panel hoverable no-marg-top">
							<div class="container">
								<div class="row">
									<div class="col-md-12">
										<table class="bordered">
											<thead>
												<th>NRO</th>
												<th>NOMBRE</th>
												<th>CANTIDAD</th>
												<th>STOCK ACTUAL </th>
												<th>UNIDAD</th>
											</thead>
											<tbody>
												
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
  		<script type="text/javascript">
  			$(document).ready(function() {
  		   		 $('select').material_select();
  		  	});
  		</script>
	</body>
</html>